#ROOT {
  margin: 50px;
}

.parette {
  overflow: auto;
}

#cardlist{
  float: left;
  margin-right: 10px;
}

.cardname {
  height: 30px;
  display: flex;
  align-items: center;
}

.arrow {
  position: absolute;
  z-index: 5;
}

.point {
  top: 0;
  bottom: 0;
  transform: translate(-50%,-50%);
  z-index: 5;
}
.point-circle {
  transform: translate(-50%,-100%);
}

.box {
  float: left;
}
.box:hover{
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

#lines {
  display: flex;
  overflow-y: scroll;
}
#lines::-webkit-scrollbar {  
  display: none;
}

.line {
  height: 4px;
  width: 50px;
  margin-top: 13px;
  margin-bottom: 26px;
}

.Deck {
  background-color: silver;
}
.EXDeck {
  background-color: silver;
}
.Hand {
  background-color: black;
}
.Field {
  background-color: #ff2c2c;
}
.Cemetery {
  background-color: #0084ff;
}
.Exclusion {
  background-color: #8900bb;
}

.display {
  margin-top: 10%;
}
.display-elem {
  margin-top: 30px;
}

.popup {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: whitesmoke;
  border: 3px outset silver;
}
.effectEditRow {
  display: flex;
  margin: 10px;
}
.statusEditRow {
  padding: 10px;
  border: 1px solid gray;
}
.popup-back {
  position: fixed;
  top: 0px;
  left: 0pt;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}
.hide {
  visibility: hidden;
}

@media screen and (min-height: 2000px) {
  #ROOT {
    margin: 100px;
    font-size: larger;
  }
  #cardlist{
    margin-right: 20px;
  }
  .cardname {
    height: 45px;
  }
  .point {
    top: 0;
    bottom: 0;
    transform: translate(-50%,-50%);
    z-index: 5;
  }
  .point-circle {
    transform: translate(-50%,-50%);
  }
  .box:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
  }
  .line {
    height: 6px;
    width: 75px;
    margin-top: 19.5px;
    margin-bottom: 39px;
  }
  .display {
    margin-top: 10%;
  }
  .display-elem {
    margin-top: 45px;
  }
  .popup {
    padding: 20px;
    border: 3px outset silver;
  }
  .effectEditRow {
    display: flex;
    margin: 20px;
  }
  .statusEditRow {
    padding: 20px;
    border: 1px solid gray;
  }
  button {
    height: 50px;
  }
  input {
    height: 50px;
  }
}
